.content {
}
.content__container {
  width: 40%;
  margin: auto;
}
.content__head {
}
.content__title {
}
.content__title_item_main {
  color: #f66;
  font-size: 55px;
  line-height: 70px;
  margin-bottom: 60px;
}
.content__text {
  font-size: 24px;
  line-height: 36px;
  margin-bottom: 60px;
}
.content__quote {
  position: relative;
  top: 5px;
  left: 60px;
  font-size: 30px;
  line-height: 42px;
  padding: 40px;
  margin-bottom: 60px;
  border-top: 2px solid #ff6666;
  border-bottom: 2px solid #ff6666;
}
.content__quote-origin {
  position: relative;
  display: block;
  color: #a6a6a6;
  font-size: 20px;
  margin-top: 50px;
  margin-right: -50px;
}

.content__image {
  position: relative;
}
.content__image-item {
  width: 100%;
}
.content__image-cover {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.3);
  opacity: 0;
  position: absolute;
  top: 0;
  right: 0;
}
.content__image-cover:hover {
  opacity: 1;
}
.content__image-name {
  position: absolute;
  bottom: 10px;
  right: 10px;
  font-size: 14px;
  margin: 0;
}

.content__item_type_copyright {
  margin-top: 40px;
  font-size: 22px;
  line-height: 30px;
  color: #a6a6a6;
}

.content__text_type_copyright {
  font-size: 16px;
  line-height: 24px;
  margin-bottom: 0;
}
